<div class="ttlbar">
	<h1 class="page_title">Profile Setting</h1>
	<div class="page_bubttl">Find your influencers who are going to work with you</div>
</div>

<div class="Profile_settng">
	<div class="Profile_setting_btn">
		<mat-tab-group>
			<mat-tab label="Profile">
				<div class="profile-tab-info">
					<form>
						<label class="label">Email (This email is authorized) <a href="javascript:void(0);">Change</a></label>
						<input type="email" class="field" name="" placeholder="hypbin3832@gmail.com">
						<label class="label">Phone number (This number is authorized) <a href="javascript:void(0);">Change</a></label>
						<input type="phone" class="field" name="" placeholder="(314) 920-3832">
						<label class="label">Full Name</label>
						<input type="text" class="field" name="" placeholder="Hyebin Seong">
						<label class="label">Date of birth</label>
						<input type="date" class="field date" name="" >
						<div class="radiobox">
							<label class="label">Gender</label>
							<label class="radio-container">Female
								<input type="radio" checked="checked" name="radio">
								<span class="checkmark"></span>
							</label>
							<label class="radio-container">Male
								<input type="radio" name="radio">
								<span class="checkmark"></span>
							</label>
						</div>
						<div class="buttonbox">
							<input type="button" name="" value="Save">
						</div>
					</form>
				</div>
			</mat-tab>
			<mat-tab label="Detail Info"> Content 2 </mat-tab>
		</mat-tab-group>
	</div>
</div>
