<div class="ttlbar">
   <h1 class="page_title">Setting</h1>
   <div class="page_bubttl">Find your influencers who are going to work with you</div>
</div>

<div class="Profile_settng">
  <div class="Profile_img_sec">
    <div class="Profile_img_secinner">
     <img src="assets/img/demo/progilrimg.png">
      <div class="profileupload">
        <input type="file" id="progile_upload">
        <label for="progile_upload"><img src="assets/img/demo/camraicon.png"></label>
       </div>
       <h3>Hyebin Seong</h3>
    </div>
  </div>
  <div class="Profile_setting_btn">
    <button class="proilrbtns"><img src="assets/img/demo/profileicon.png">Profile</button>
    <button class="proilrbtns"><img src="assets/img/demo/globicon.png">Social Media Platform</button>
  </div>
</div>
